TileGame.xcodeproj/project.xcworkspace/xcuserdata/shingokko.xcuserdatad/UserInterfaceState.xcusersta
TileGame.xcodeproj/project.xcworkspace/xcuserdata/shingokko.xcuserdatad/WorkspaceSettings.xcsettings
build/